body, html {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.landingPage {
	position: relative;
	/*background: #1abc9c; */
	height: 100vh;
	background: url('images/backgrounds/bg_desktop.jpg') no-repeat center center;
	background-size: cover;
}

.header_logo {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 30px;
	margin-left: 30px;
	height: 200px;
}

.instagram {
	margin-bottom: 25px;
	margin-right: 25px;
	font-size: 4em;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
}

.phone-title {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	background: rgba(249, 249, 249, 1);
	color: black;
	text-align: center;
	box-shadow: 0px 1px rgb(179, 179, 179);
}

.phone-title p {
	padding: 10px;
}

.phoneLog {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	min-height: 50vh;
	width: 300px;
	position: absolute;
	top: 30px;
	right: 30px;
}

p {
	margin: 0;
}

.message {
	max-width: 200px;
	border-radius: 10px;
	padding: 8px;
	margin: 10px;

}

.receiver {
	background: rgba(220, 220, 220, 1);
}

.sender {
	background: rgb(86, 192, 249, 1);
	margin-left: auto;
	color: white;
}

section {
	height: 400px;
	text-align: center;

	border-bottom: 1px solid black;

}