/*********************************************
Styling
*********************************************/

body, html {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.text-center {
	text-align: center;
}

.landingPage {
	position: relative;
	/*background: #1abc9c; */
	height: 100vh;
	background: url('images/backgrounds/bg_desktop.jpg') no-repeat center center;
	background-size: cover;
}

.header_logo {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 30px;
	margin-left: 30px;
	height: 200px;
}

.instagram {
	margin-bottom: 25px;
	margin-right: 25px;
	font-size: 4em;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
}

.phone-status {
	height: 20px;
	text-align: center;
	font-size: .8em;
}

.position-absolute {
	position: absolute;
	top: 7px;
}

.signal {	
	left: 10px;
}

.wifi {	
	left: 40px;
}

.time {
	display: inline-block;
	font-weight: bold;
	margin-top: 3px;
}

.battery {
	right: 10px;
}

.phone-title {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	background: rgba(249, 249, 249, 1);
	color: black;
	box-shadow: 0px 1px rgb(179, 179, 179);
}

.caller {
	padding: 10px;
}

.phoneLog {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	min-height: 50vh;
	width: 300px;
	position: absolute;
	top: 30px;
	right: 30px;
	opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

p {
	margin: 0;
}

.message {
	max-width: 200px;
	border-radius: 10px;
	padding: 8px;
	margin: 10px;
}

.message:nth-of-type(1) {
	opacity: 0;
	animation-name: appear;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.message:nth-of-type(2) {
	opacity: 0;
	animation-name: appear;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.message:nth-of-type(3) {
	opacity: 0;
	animation-name: appear;
    animation-duration: 2s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

.message:nth-of-type(4) {
	opacity: 0;
	animation-name: appear;
    animation-duration: 2s;
    animation-delay: 16s;
    animation-fill-mode: forwards;
}

.receiver {
	background: rgba(220, 220, 220, 1);
}

.sender {
	background: rgb(86, 192, 249, 1);
	margin-left: auto;
	color: white;
}

.message-bar {
	width: 100%;
	background: rgba(249, 249, 249, 1);
	padding: 5px 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.empty-text-bar {
	width: 85%;
	background: #ffffff;
	color: lightgrey;
	border-radius: 25px;
	border: 1px solid rgb(200, 200, 200);
	padding: 6px 10px;
	margin: 5px auto;
}


section {
	height: 100vh;
	text-align: center;

	border-bottom: 1px solid black;
}

/*********************************************
Animations
*********************************************/

@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}








