/*********************************************
Settings
*********************************************/
* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p, span, h1 {
	margin: 0;
}

.text-center {
	text-align: center;
}

/*********************************************
Landing Header Elements
*********************************************/

.landingPage {
	position: relative;
	background: rgba(239, 243, 252, 1);
	min-height: 560px;
	height: 100vh;
	background: url('images/backgrounds/bg_desktop.jpg') no-repeat center center;
	background-size: cover;
	border: 15px solid white;
}

.header_logo {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 30px;
	margin-left: 30px;
	height: 200px;
}

.instagram-icon {
	margin-bottom: 25px;
	margin-left: 25px;
	font-size: 4em;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
}


/*********************************************
Mock Phone Settings
*********************************************/

/*** Phone Top Info ***/

.phone-title {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	background: rgba(249, 249, 249, 1);
	color: black;
	box-shadow: 0px 1px rgb(179, 179, 179);
}

/*** Phone Status Bar ***/

.phone-status {
	height: 20px;
	text-align: center;
	font-size: .8em;
}

.position-absolute {
	position: absolute;
	top: 7px;
}

.signal {	
	left: 10px;
}

.wifi {	
	left: 40px;
}

.time {
	display: inline-block;
	font-weight: bold;
	margin-top: 3px;
}

.battery {
	right: 10px;
}


/*** Caller ID ***/

.caller {
	padding: 10px;
}


/*** Message Content ***/

.phoneLog {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	width: 300px;
	position: absolute;
	top: 30px;
	right: 30px;
	opacity: 0;
	animation: appear 0.5s ease-out 2s forwards;
	
}

.message {
	max-width: 200px;
	border-radius: 10px;
	padding: 8px;
	margin: 10px;
	text-align: left;
}

.message:nth-of-type(1) {
	opacity: 0;
	animation: bubble 0.5s ease-out 3s forwards;
}

.message:nth-of-type(2) {
	opacity: 0;
	animation: bubble 0.5s ease-out 4.5s forwards;	
}

.message:nth-of-type(3) {
	opacity: 0;
	animation: bubble 0.5s ease-out 6s forwards;	
}

.message:nth-of-type(4) {
	opacity: 0;
	animation: bubble 0.5s ease-out 7.5s forwards;
}

.message:nth-of-type(5) {
	opacity: 0;
	animation: bubble 0.5s ease-out 9s forwards,
				wobble 2s linear 9.5s forwards;
}

.receiver {
	background: rgba(220, 220, 220, 1);
}

.sender {
	background: rgb(86, 192, 249, 1);
	margin-left: auto;
	color: white;
}


/*** Message Input Bar ***/

.message-bar {
	width: 100%;
	background: rgba(249, 249, 249, 1);
	padding: 5px 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.empty-text-bar {
	width: 85%;
	background: #ffffff;
	
	border-radius: 25px;
	border: 1px solid rgb(200, 200, 200);
	padding: 6px 10px;
	margin: 5px auto;
}

.placeholder {
	color: lightgrey;
	/*display: none;*/
}


/*********************************************
Animations
*********************************************/

@keyframes appear {
	from { opacity: 0;}
	to { opacity: 1;}
}

@keyframes bubble {
	from {
		opacity: 0;
		transform: translateY(15%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes wobble {
	0%, 100% {transform: scale(1);}
	50% {transform: scale(1.1);
			background: rgb(9, 163, 246);
		}
	75% {transform: scale(0.95);}
}



/*********************************************
Sections General
*********************************************/


section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 560px;
	height: 100vh;
	text-align: center;
	background: rgba(222, 230, 242, 1);
	background: url('images/backgrounds/bg_empty_desktop.jpg') no-repeat center center;
	background-size: cover;
	border: 15px solid white;
}
 section h1 {
 	color: white;
 	font-weight: bold;
 	font-size: 1.7em;
 	margin-top: 20px;
 }

/*********************************************
Paper Styling
*********************************************/

.paper {
	padding: 15px;
	margin: 15px;
	width: 300px;
	height: 350px;
	background: white;
	font-family: monospace;
	color: rgba(60,60,60,1);
	border-left: 2px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);	
	overflow: auto;
}

.paper ul {
	text-align: left;
	padding-left: 25px;
}

.paper ul li {
	line-height: 1.5em;
	margin-bottom: 10px;
}

.paper h3 {
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 0.3em;
}

.paper-content p {
	padding: 1em;
}


/*********************************************
Hidden Sections
*********************************************/

.third, .fourth {
	display: none;
}

/*********************************************
Media Queries
*********************************************/

/*** large screens ***/

@media screen and (max-width: 1040px) {

	.cantWin {
		display: none;
	}

	.third {
		display: flex;
	}
}

/*** medium screens ***/

@media screen and (max-width: 700px) {

	.challenge {
		display: none;
	}
	
	.fourth {
		display: flex;
	}
}

@media screen and (orientation: portrait) {

	.landingPage, section {
		background: url('images/backgrounds/bg_mobile.jpg') no-repeat center center;
		background-size: cover;
	}

	.phoneLog {
		display: none;
	}

	.header_logo {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-top: 0px;
		margin-left: 0px;
		height: 80vw;
	}

	.instagram-icon {
		margin-bottom: 35px;
		margin-left: 35px;
		font-size: 12em;
	}

	section {
		display: flex;
		flex-direction: column;
	}

	.challenge {
		display: none;
	}
	
	.fourth {
		display: flex;
	}

	.paper {
		font-size: 3em;
		width: 90%;
		height: initial;
	}


}
































